<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Meetdia - Muro</title>
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/animate.min.css" rel="stylesheet"> 
  <link href="/css/font-awesome.min.css" rel="stylesheet">
  <link href="/css/lightbox.css" rel="stylesheet">
  <link href="/css/main_muro.css" rel="stylesheet">
  <link id="/css-preset" href="/css/presets/preset1.css" rel="stylesheet">
  <link href="/css/responsive.css" rel="stylesheet">
  <script src="/js/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="/js/bootstrap.min.js"></script>

  <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
  <![endif]-->
  
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="images/meetlogo.png">
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <!--<script src='https://kit.fontawesome.com/a076d05399.js'></script>-->

</head><!--/head-->

<body  class="bodys">

  <header>
    <div class="container-fluid" style="background-color: #9ACD32;">
      <div class="container">
        <nav class="navbar navbarcolor navbar-expand-md navbar-dark">
          <a class="navbar-brand  ml-3" href="#">

            <img src="/images/Logo-Meetdia.png" width="45" height="45" class="d-inline-block align-top" alt="meetdia.com">

          </a>

          <a class="navbar-brand letra pt-4"  href="#">
            Meetdia.com
          </a>

          <button class="navbar-toggler" style="border-color: white;" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <img src="/images/navbar2.svg" width="45" height="45" class="d-inline-block align-top" alt="meetdia.com">
          </button>

          <div class="collapse navbar-collapse row" id="navbarSupportedContent">
            <ul class="navbar-nav m-auto col-4">
              <li class="nav-item active">
                  <a class="dropdown-item" href="/logout">Cerrar sesion</a>
              </li>
            </ul>

                <button class="btn bttcolor btn-sm my-1" type="submit">
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle letra2 text-white active" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Publicar</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="/muro/nuevo-post">Nuevo Post</a>
                    </div>
                  </button>

                </li>

              </ul>

            </div>
          </nav>
        </header><!--/#home-->
        <section>

          <h2 class="masthead-subheading mb-0" th:if="${session.Usuariosession != null}" th:text="${session.Usuariosession.nickname}"></h2>

          <div class="ctarjeta">

            <!-- Esta es la forma de hacer que itere segun sea venta o lo otro-->


            <div th:each="post : ${listapost}" class= "venta"  >
                <img  th:src="@{'data:image/jpeg;base64,'+${post.multimedia.encoded64}}" alt="Post">
              <h4 th:text="${post.titulo}"></h4>
              <p th:text="${post.descripcion}"></p>
              <p th:text="${post.persona.nickname}"></p>
              <a href="#">Leer más</a>
            </div>
          </div>

        </section>
      </body>

      </html>
