<!doctype html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="/css/bootstrap.min.css"> -->

    <title>Post - Meetdia</title>
    
    <!-- Estilos Meetdia CSS -->
    <link rel="stylesheet" type="text/css" href="/css/indexCSS_navbar.css">
    <link rel="stylesheet" type="text/css" href="/css/indexCSS.css">
    <link rel="stylesheet" type="text/css" href="/css/footer.css">
    <!-- <link href="css/font-awesome.min.css" rel="stylesheet"> -->
    <link rel="shortcut icon" href="/images/meetlogo.png">

    <style>
        .margen-avatar{
            margin-top:-50px;
        }
    </style>
    <script type="text/javascript">
    function validarInput() {
        document.getElementById("btn_Submit").disabled == document.getElementById("comments").value.length;
    }
    </script>
</head>
<body>

  <!-- Navbar -->
   <header>
       <nav class="navbar navbarcolor navbar-expand-md navbar-dark">
            <a class="navbar-brand  ml-3" href="/muro">
             <img src="/images/meetlogo.png" width="45" height="45" class="d-inline-block align-top" alt="meetdia.com">

          <spam class="class-list2"></spam>
                
            </a>

            <a class="navbar-brand letra pt-4 nu"  href="/muro">
                Meetdia.com
            </a>

            <button class="navbar-toggler" style="border-color: white;" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
               <span class='fas fa-align-justify'></span>
            </button>

            <div class="collapse navbar-collapse row" id="navbarSupportedContent">

        <ul >

           <li class="nav-item active">
            <li class="nav-item n">
                <a href="/perfil" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-child" style="font-size:25px;color:white;text-shadow: 2px 2px 4px #728781"></i>
                </a>
            </li> 
            </li> 

            </li> 

            <li class="nav-item active">
            <li class="nav-item n">
                <a href="/muro/nuevo-post" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-history" style="font-size:25px;color:white;text-shadow: 2px 2px 4px #728781"></i>
                </a>
            </li> 
            </li>  

            <li class="nav-item active">
            <li class="nav-item n">
                <a href="/buzon" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-comments-o" style="font-size:25px;color:white;text-shadow: 2px 2px 4px #728781"></i>
                </a>
            </li> 
            </li> 

            <li class="nav-item active">
            <li class="nav-item n">
                <a href="/logout" id="navbarDropdown" role="button" aria-haspopup="true">
                <i class="fa fa-power-off"  style="font-size:25px;color:white;text-shadow: 2px 2px 4px #728781"></i>
                </a>
                <!-- <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <p class="p" href="/muro/nuevo-post">Apagar</p>
                </div> -->
            </li> 
            </li> 
          
        </ul>

        </div>
        </nav>

        </header>

<div class="container">

    <!-- Artículos -->
    <div class="py-5">

        <div class="row ">
             <div class="col-md-4 col-lg-3">
            <!-- Avatar -->
            <div class="container py-5">
                    <div class="card">
                        <img class="card-img-top" src="/img/iceland.jpg" alt="Card image cap">
                        <div class="text-center margen-avatar">
                            <img th:if= "${avatar != ''}" th:src="@{'data:image/jpeg;base64,'+${avatar}}" alt="avatar" class="rounded-circle border" style="overflow: hidden;height: 60px; width: 60px;">
                            <img th:unless="${avatar != ''}" src="/images/no-image.svg" alt="avatar" class="rounded-circle border" style="overflow: hidden;height: 60px;width: 60px;">
                            <!--<img src="/img/avatar-dhg.png" alt="" class="rounded-circle border" width="100px"> -->
                        </div>
                        <div class="card-body text-center">
                            <h6 class="card-title font-weight-bold" th:text="${nickname}"></h6>
                            <p class="card-text lead" th:text="${profesion}"></p>
                        </div>
                    </div>
                </div><!-- SobreMi -->
            </div>
        
        </br>
        <div class="container-fluid ml-4 col-lg-8 col-md-7 col-sm-11">
        </br>
        <p class="float-right"><small class="text-muted" th:inline="text" >[[${fecha}]] en [[${categoria}]]</small></p>
        <h5 class="letraperfil" th:text="${titulo}">Lorem, ipsum dolor.</h5>
        <p class="letraparrafo" th:text="${descripcion}">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos molestiae officia exercitationem, perferendis quam ipsam veritatis minima ducimus. Earum enim quam fugit, possimus autem eveniet. Inventore sed itaque corrupti velit vel dolorem. Suscipit quam molestiae minus odit quibusdam. Possimus, repellendus alias voluptatibus nostrum accusantium aspernatur odio id magni libero repellat.</p>

        <div class="">
            <img th:if= "${image64 != ''}" th:src="@{'data:image/jpeg;base64,'+${image64}}" alt="Imagen" class="text-center img-fluid rounded mb-3" style="max-width:100%; height:auto;">
            <img th:unless="${image64 != ''}" src="/images/no-image.svg" alt="Imagen" class="text-center img-fluid rounded mb-3" style="max-width:100%; height:auto;">
        </div>
        <form action="/buzon/nuevomensaje" method="POST">
        <div class="text-center">
            <textarea th:placeholder="|Enviar mensaje a ${nickname}" class="form-control" name="contenido" rows="5" cols="40" id="comments"></textarea>
            <input type="text" th:value="${id_personapost}" name="id_receptor" hidden>
        </div>

    </br>

    <div class="text-center">
        <a href="/muro/"><button class="btn btn-secondary" type="button">Volver</button></a>
        <button class="btn btn-primary btn-success" type="submit" id="btn_Submit" oninput="validarInput()" >Enviar</button>
    </div>
        </form>

</div>
</div>

</div><!-- Artículos -->
</div>
</div>
<footer id="footer">
            <div class="footer-top wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="container text-center">
                    <div class="footer-logo">
                        <a href="index.html"><img class="img-responsive" src="/images/Logo-Meetdia.png" height="40px" alt="Logo"></a>
                    </div>
           <!--          <div class="social-icons">
                        <ul>
                            <li><a class="envelope" href="#"><i class='far fa-star'></i></a></li>
                            <li><a class="twitter" href="#"><i class='far fa-star'></i></a></li> 
                            <li><a class="dribbble" href="#"><i class='far fa-star'></i></a></li>
                            <li><a class="facebook" href="#"><i class='far fa-star'></i></a></li>
                            <li><a class="linkedin" href="#"><i class='far fa-star'></i></a></li>
                            <li><a class="tumblr" href="#"><i class='far fa-star'></i></a></li>
                        </ul>
                    </div>
 -->                </div>
            </div>
        </footer>


<script src='https://kit.fontawesome.com/a076d05399.js'></script>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha384-vk5WoKIaW/vJyUAd9n/wmopsmNhiy+L2Z+SBxGYnUkunIxVxAv/UtMOhba/xskxh" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>
